.woo-linked-variation-wrap {
  padding: 20px 0;
}

.woo-linked-variation:not(:first-child) {
  margin-top: 10px;
}

.woo-linked-variation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.woo-linked-variation-wrap .linked-variation-label {
  margin-bottom: 5px;
}

.woo-linked-variation ul li {
  display: inline-block;
  max-width: 80px;
  margin-right: 10px;
}

.woo-linked-variation ul li:not(.show-image) {
  max-width: 100%;
}

.woo-linked-variation ul li:last-child {
  margin-right: 0;
}

.woo-linked-variation ul li img {
  width: 100%;
  height: auto;
}

.woo-linked-variation ul li a,
.woo-linked-variation ul li span {
  display: block;
  padding: 4px 10px;
  white-space: nowrap;
  border: 1px solid #ccc;
  transition: all 0.2s ease-in;
}

.woo-linked-variation ul li:hover a,
.woo-linked-variation ul li:hover span,
.woo-linked-variation ul li span.active-variation {
  background: #e8f4fc;
  border: 1px solid #0093df;
}
