.linked-variations {
	padding-top: 6px;
}

.linked-variations .linked-variation-item:not(:last-of-type) {
	padding-bottom: 12px;
	/* border-bottom: 1px solid #8c8f94; */
}

.linked-variations .linked-variation-item:not(:first-of-type) {
	padding-top: 12px;
}

.linked-variation-item .linked-variation:not(:last-of-type) {
	padding-bottom: 12px;
	/* border-bottom: 1px solid #8c8f94; */
}

.linked-variation-item .linked-variation:not(:first-of-type) {
	padding-top: 12px;
}

.linked-variation-source {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.linked-variation-source .field-label {
	min-width: 150px;
}

.linked-variation-source .field-input {
	width: 100%;
}

.linked-variation-source .field-input select,
.linked-variation-source .field-input input[type=text] {
	width: 100%;
}

.linked-variation-repeater {
	padding-top: 24px;
}